*{
    margin: 0;
  padding: 0;
}


.card {
  padding: 2em;
}

html{
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.main .content h2 span{
  font-size: 1rem;
}



.topNav{
  background: var(--trans-bg);
  width: 100%;
  margin: auto;
  margin-top: 30px;
  position: fixed;
  will-change: top;
  top: 0; /* important for sticky to work */
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
   z-index: 1000; /* ensures it stays above other content */
}
.topNav p{
  font-size: 13px;
}



.topNav h3{
  text-transform: uppercase;
}

.topNav .bb ul{
  display: flex;
}
.topNav .bb ul li{
  list-style: none;
  margin: 0px 10px;
}
.topNav .aa{
   display: flex;
  align-items: center;

}
.topNav .aa img{
  width: 90px;
  margin-top: 10px;
}

.topNav .mobile{
  display: none;
  padding: 10px;
}

.topNav .anoth{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.hero{
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-image: url("assets/welcome-diversity.jpg");
  animation: slide 20s infinite;
  position: absolute;
  top: 0;
}

@keyframes slide {
  0% {
    background-image: url("assets/welcome-diversity.jpg");
  }
  33.33% {
    background-image: url("assets/people.jpg");
  }
  66.66% {
    background-image: url("assets/humanity.jpg");
  }
  100% {
    background-image: url("assets/welcome-diversity.jpg"); /* loops back */
  }
}

.hero .main{
  width: 100%;
  height: 100%;
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.452),rgba(0, 0, 0, 0.815));
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero .main .content.b{
  padding-top: 30px;
}
.hero .main .content{
  padding-top: 100px;
  width: 70%;
  color: white;
}
.hero .main .content h2{
  font-size: 4rem;
  line-height: 70px;
  color: white;
}
.hero .main .content p{
  font-size: 20px;
  margin-top: 20px;
}

.hidden{
  display: none;
}


.bb {
  display: flex; /* default desktop */
}

.bb.hidden {
  display: none; /* fully hides on mobile */
}




.cta{
  padding: 15px 40px;
  margin-top: 20px;
  background: var(--accent);
  color: white;
}
button{
  margin: 10px;
}

.cta.outlines{
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
}



.hero .content.b h2{
  font-size: 2rem;
  text-align: center;
}

.hero .content.b p{
  text-align: center;
  margin-left: 20px;
}

.hero .content.b{
  width: 80%;
  text-align: center;
}

.founder{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 50px;
}

.hero p#ABZZ{
  text-align: justify;
  margin-left: 20px;
}



.founder img{
  width: 450px;
}

.founder.b{
  padding-top: 50px;
  text-align: center;
}

form{
  margin-top: 30px;
}
.inputGroup{
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.faq{
  width: 400px;
  padding: 20px;
  /* margin-top: 30px; */
  box-shadow: 0px 0px 10px -6px var(--accent);
}

.faq:first-of-type{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.faq:last-of-type{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.faq p{
  max-width: 400px;
}

.inputGroup input, .inputGroup textarea{
  padding: 10px 30px;
  width: 100%;
}

.AuthPage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.AuthPage .cont{
  padding: 20px;
  place-items: center;
  width: 400px;
  height: fit-content;
  background-color: var(--bg);
}


.AuthPage .cont h2{
  text-transform: uppercase;
}
.AuthPage .cont p{
  font-size: 13px;
  text-align: center;
}








@media screen and (max-width:1100px) {
  .founder img{
  width: 200px;
}
}

.ourvalues{
  width: 93%;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Val{
  text-align: center;
  padding: 20px 0px;
}




.founder .content.b p{
  text-align: left;
  padding: 10px;
}


.cta.create{
  display: none;
}


.faq summary{
  font-size: 18px;
  text-align: left;
}

.AuthPage .cont{
  height: 360px;
  align-items: center;
  justify-content: center;
}

.AuthPage .cont.b{
  background: var(--accent);
  color: white;
}
@media (min-width: 768px) {
  .bb {
    display: flex !important; /* always show on desktop */
  }
}


@media screen and (max-width:800px) {


  .AuthPage{
    flex-direction: column;
  }
  .faq{
  width: 89%;
  padding: 20px;
  /* margin-top: 30px; */
  box-shadow: 0px 0px 10px -6px var(--accent);
  
}

.faq p{
  text-align: justify;
  max-width: 70%;
  margin-left: 20px;
  margin-top: 20px;
}

  .cta{
  /* padding: 8px 8px; */
  margin-top: 20px;
  /* width: 100%; */
  background: var(--accent);
  color: white;
}

.cta.create{
  display: flex;
}
  .inputGroup{
    width: 80%;
  flex-direction: column;
}

.inputGroup input, .inputGroup textarea{
  padding: 10px 40px;
  width: 90%;
  margin-left: 10px;
}
  .ourvalues{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    padding: 0;
    flex-wrap: wrap;
overflow: wrap;
word-wrap: wrap;
margin-left: 20px;
  }
  .founder{ 
 flex-direction: column; 
}

.founder{
  width: 100%;

}

.founder img{
  width: 90%;
  margin: 10px 20px;
}


  .hero .main .content h2{
  font-size: 3rem;
}

  .hero .main .content.b h2{
  font-size: 2rem;
}
  .hero{
  width: 100%;
  height: 100vh;
}



  .hero .main .content{
  width: 96%;
  padding-top: 200px;
  padding-bottom: 50px;
  margin-left: 10px;
  color: white;
}
.hero .main .content.b{
  margin-left: -10px;
}

.topNav .mobile{
  display: block;
}



.topNav{
  width: 100%;
  padding: 10px 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.topNav h3{
font-size: 13px;
width: 80%;
/* display: none; */
}
.topNav p{
width: 70%;
}

.topNav .aa img{
  width: 70px;
  margin-top: 10px;
}

  .topNav .ma{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .topNav .aa{
    width: 100%;
    justify-content: space-between;
  }

  .topNav .bb{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }

    .topNav .bb ul{
      align-items: center;
      width: 100%;
      justify-content: center;
      flex-direction: column;
    }
.topNav .bb ul li{
  margin: 10px 0px;
}
    
  .topNav{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }

}
