:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #031413;
  background-color: #ffffff;




  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  

color: #031311;
    background-color: #ffffff;
    --trans-bg: rgba(124, 124, 124, 0.116);
    --trans-bgb: rgba(255, 255, 255, 0.644);
    --color:"white";
--accent:#0f766e; 
    --back: rgb(255, 255, 255);
    --bg:rgba(0, 0, 0, 0.068);
    --border: rgba(0, 0, 0, 0.199);


    --brand-1:#26A69A;           /* teal */
  --brand-2:#4DB6AC;

    --ink:#0e1726;               /* heading ink */
  --ink-2:#455A64;             /* body copy */
  --ink-3:#4b5563;             /* meta */
  --link:#26A69A;
  
  margin: 0;
  padding: 0;
}

a {
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: green;
}

body {
  /* margin: 0; */
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.transBG{
    background: var(--trans-bg);
  }

@media (prefers-color-scheme: light) {
  :root {
    color: #031311;
    background-color: #ffffff;
    --trans-bg: rgba(124, 124, 124, 0.116);
    --trans-bgb: rgba(255, 255, 255, 0.644);
    --color:"white";
--accent:#0f766e; 
    --back: rgb(255, 255, 255);
    --bg:rgba(0, 0, 0, 0.068);
    --border: rgba(0, 0, 0, 0.199);


    --brand-1:#26A69A;           /* teal */
  --brand-2:#4DB6AC;

    --ink:#0e1726;               /* heading ink */
  --ink-2:#455A64;             /* body copy */
  --ink-3:#4b5563;             /* meta */
  --link:#26A69A;
  }

  
  a:hover {
    color: var(--brand-1);
  }
  .transBG{
    background: var(--trans-bg);
  }
  button {
    background-color: #f9f9f9;
  }




}
